---
import Wrapper from "@components/Wrapper.astro";

const { next, nextTitle, previous, previousTitle } =
  Astro.props;
---

<Wrapper>
  <section
    class:list={[
      "flex items-center gap-8",
      { "justify-end": !previous && next },
      { "justify-between": previous && next },
    ]}>
    {
      previous && (
        <a
          class="transition-colors hover:text-theme-orange"
          href={previous?.url}>
          ← Previous project ({previousTitle})
        </a>
      )
    }
    {
      next && (
        <a
          class="transition-colors hover:text-theme-orange"
          href={next?.url}>
          Next project ({nextTitle}) →
        </a>
      )
    }
  </section>
</Wrapper>
