---
import Block from "@components/Block.astro";
import Link from "@components/Link.astro";
import Metadata from "@components/Metadata.astro";
import ProjectImage from "@components/ProjectImage.astro";
import TextLink from "@components/TextLink.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <div class="mt-48 sm:mt-24 max-w-prose flex flex-col gap-8">
    <h1 class="text-5xl tracking-wide sm:text-2xl">INVL</h1>

    <p class="text-2xl sm:text-lg">
      A service design project to help INVL find their blue ocean.
    </p>
  </div>

  <img
    class="object-cover bg-center aspect-video transition max-w-full mt-16 rounded-lg"
    src="/images/invl/invl-cover.jpeg"
    alt="A drawing of a lady behind a table, receiving a big amount of money."
  />

  <Metadata
    role={[
      "Stakeholder interviewing",
      "Service design",
      "User persona & journey mapping",
    ]}
    duration="8 weeks in 2022"
    methods={[
      "User persona creation",
      "User journey mapping",
      "Crazy 8-s",
      "Low-fidelity prototyping",
      "Stakeholder interviews",
      "Affinity mapping",
    ]}
  />

  <div class="flex flex-col gap-16">
    <Block title="Summary">
      <p>
        The goal of the project was to offer a life insurance company named
        <TextLink color="#FED4E7" href="https://www.invl.ee/en/">INVL</TextLink>
        a way to get out of the "red ocean" and reach the <TextLink
          color="#FED4E7"
          href="https://www.blueoceanstrategy.com/what-is-blue-ocean-strategy/">
          "blue ocean"
        </TextLink>.
      </p>
    </Block>

    <Block title="Background">
      <p>
        The challenge at hand seemed simple at first – <strong
          >make more people pay for life insurance</strong
        >. The idea seemed simple as well: why not get life insurance? If
        something happens to you or a close loved one, the life insurance money
        that you receive ensures that you won't be on your back after an
        accident of some sort. It seemed simple enough to understand that once
        you have customers, they will probably want to stay for a lifetime. <strong
          >However, as usual, it was not that simple</strong
        >.
      </p>
    </Block>
    <Block title="More research…">
      <p>
        Our course kicked off the course with a <strong
          >presentation from the client</strong
        >. To me, the presentation seemed more like a presentation for selling
        us life insurance instead of explaining how the company actually works
        and what life insurance is. <strong
          >We took it upon ourselves to deep dive into all things life insurance</strong
        >, such as company insights, industry analysis, competitive overview,
        interviews with stakeholders and so much more. We reached the point of
        lag due to so many sticky notes on our Miro board quite quickly.
      </p>

      <ProjectImage
        src="/images/invl/mapping.jpg"
        alt="IxD.ma students behind a glass wall putting post-its on paper."
        description="I was put in charge of putting the post-its from Miro onto the wall."
      />

      <p>
        After that, we tried to <strong
          >make sense of all the data we had gathered</strong
        >. To do this, I teamed up with my coursemate Zac to create a
        presentation for the INVL representatives, but at the same time, the
        whole course started creating small snippets to be put into the
        presentation. We also created a few <strong>affinity maps</strong> and, to
        our surprise, immediately saw <strong
          >many types of personas emerging</strong
        >, such as:
      </p>

      <ul>
        <li class="text-xl">
          → a person shying away from insurance & thinking about <strong
            >alternatives</strong
          >, such as investing
        </li>
        <li class="text-xl">
          → a <strong>procrastinator</strong>, who is constantly delaying
          getting life insurance due to being busy
        </li>
        <li class="text-xl">
          → a person with <strong>barriers</strong> due to life insurance being too
          expensive for them
        </li>
        <li class="text-xl">
          → a person with <strong>prejudice</strong> against life insurance due to
          previous experiences
        </li>
      </ul>

      <p>
        We then presented all our findings to the INVL representatives, who were
        very eager to learn what we were going to come up with.
      </p>
    </Block>

    <Block title="Our persona & his journey">
      <p>
        We divided the course into groups of three and started figuring out who
        the personas are in the life insurance journey. Our team came up with
        Margus, who is 35 years old and works as a back-end developer. Margus is
        a person of <strong>alternatives</strong> – he doesn't believe necessarily
        in insurance unless it comes with the products he's buying. He lives life
        to the fullest and loves to spend his money.
      </p>

      <ProjectImage
        src="/images/invl/margus-persona.jpg"
        alt="Our persona's, Margus' persona board"
        description="Our persona's, Margus' persona board"
      />

      <p>
        After creating a persona, we also mapped out the user journey for Margus
        to find the drop-off points in his journey.
      </p>

      <ProjectImage
        src="/images/invl/margus-journey.jpg"
        alt="Our persona's, Margus' user journey"
        description="Our persona's, Margus' user journey"
      />

      <p>
        Everyone in our team got <strong>a point of focus</strong> – for me, it was
        the needing help & maintenance section, where Margus' mom turns 70 years
        old, loses her life insurance contract, and all the money she has paid into
        it for many years.
      </p>
    </Block>

    <Block title="Developing">
      <p>
        Out of the problem mentioned in the previous section, I started with the
        following "How might we…" question:
      </p>

      <p>
        How might we ensure that the person feels valued after their contract
        ends and that their money didn't vanish into thin air?
      </p>

      <p>
        As the insurance business relies heavily on getting <strong
          >positive recommendations from current customers</strong
        >, the <strong>offboarding process is very important</strong>. If the
        person doesn't feel valued after they become 70, <strong
          >why would they recommend getting the insurance to others</strong
        >?
      </p>

      <p>
        During many ideation rounds, I stumbled upon <strong
          >a very weird solution, which I initially thought of as a joke, but
          which turned out to be a very real idea</strong
        >.
      </p>
    </Block>

    <Block title="Solution">
      <p><strong>Give the customer back all the money they've paid.</strong></p>

      <p>
        It might sound crazy from a business perspective, but it is
        <TextLink
          color="#FED4E7"
          href="https://www.progressive.com/answers/return-of-premium-life-insurance-rider">
          already being done by some big insurance firms in the U.S.
        </TextLink>, and quite successfully so. Insurance companies usually make
        a profit by investing the money that they receive from the customers and
        even if the customer is paid out some amount of it, <strong
          >the insurance firm usually stays in a profit</strong
        >.
      </p>

      <p>
        I proposed a solution in which they ask their customers for a bit more
        money each month, and depending on how big their investment margins are,
        they can then make a profit during the time the customer is paying to
        the company and then even pay them back the money if possible. This
        means that the insurance becomes a savings account for people. To
        explain and illustrate the idea, I presented a <strong>wicked</strong> Excel
        sheet.
      </p>

      <p>
        And, of course, who wouldn't love to get an envelope full of cash for
        their time as a pensioner?
      </p>

      <p>
        After the presentation, I immediately saw interest from INVL towards
        this idea; got an A for the course and finished the year with a smile on
        my face.
      </p>
    </Block>
  </div>

  <section class="flex my-20 items-center justify-between gap-8">
    <Link title="← Previous project (Splitwise)" href="/craft/splitwise" />
    <Link title="Next project (Salary calculator) →" href="/craft/salary" />
  </section>
</Layout>
