---
import Metadata from "@components/Metadata.astro";
import Layout from "@layouts/Layout.astro";
import Link from "@components/Link.astro";
import Block from "@components/Block.astro";
import ProjectImage from "@components/ProjectImage.astro";
import Link from "@components/Link.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <div class="mt-48 sm:mt-24 max-w-prose flex flex-col gap-8">
    <h1 class="text-4xl sm:text-2xl">Mental Pin</h1>

    <p>
      A user interface & user experience design project to make AI feel like
      someone you'd want to express your worries to.
    </p>
  </div>

  <Metadata
    role={[
      "UI design",
      "UX design",
      "Idea generation",
      "Interviewing",
      "Figma prototyping",
    ]}
    duration="Apr – May 2023"
    methods={[
      "User persona creation",
      "Crazy 8-s",
      "User interviews",
      "Affinity mapping",
      "Low fidelity user journey mapping",
    ]}
  />

  <img
    class="object-cover bg-center aspect-video transition max-w-full mt-16 rounded-md"
    src="/images/mental-pin/mentalpin-cover.jpeg"
    alt="A man holding a phone in an airplane and logging his anxious airport episode."
  />

  <div class="flex flex-col gap-16 mt-16">
    <Block title="Summary">
      <p>
        The goal of this project was for our team of <Link
          color="#FEEEA7"
          href="https://ixd.ma/"
          text="IxD.ma"
        /> students, consisting of Zac Heisey, Inka Jerkku & Sofia Kamergorodski,
        to help two alumni of IxD, the team at
        <Link
          color="#FEEEA7"
          href="https://www.mentalpin.com"
          text="Mental Pin"
        />, to
        <strong
          >integrate artificial intelligence into their mobile application</strong
        >, which helps people handle their anxiety and OCD ticks. While at
        first, we thought that it was another "keeping up with the craze"
        project, the result turned out different.
      </p>
    </Block>

    <Block title="Research">
      <p>
        We delved deep into the world of artificial intelligence combined with
        mental health. This was at the time as large language models (mainly
        ChatGPT) were first blooming and everybody was getting into language
        models. Needless to say, we found <strong
          >a bunch of amazing experiences with people using ChatGPT as their
          assistant to using it as a place to vent, yet we also found people who
          had caused more harm than good by putting their thoughts into a
          lifeless machine</strong
        >.
      </p>

      <p>
        We did <strong>6 semi-structured user interviews</strong>, 4 of which
        were people who were on Mental Pin's waiting list & 2 people shared
        their contacts in a Google Form that we sent out to gather some
        qualitative data. The interviews went very well – we were shocked as to
        how open people were about their mental health struggles and also how
        open they were to looking towards technology to help them on their
        journey.
      </p>

      <p>
        However, we did not stop there. As we were all slightly skeptical of
        artificial intelligence taking over mental health solutions, we also
        explored some out-of-the-box ideas.
      </p>
    </Block>

    <Block title="Exploring & defining">
      <p>
        As said, since we were quite skeptical of AI at first, we looked to some
        out-of-the-box ideas. We did lots of crazy 8s but had a few great ideas
        from the beginning. For example, an "analog" unboxing experience instead
        of a digital one, as Mental Pin's usage revolved around an analog device
        and the application was not mandatory. We wanted to <strong
          >make it feel less like a chore and more like an act of self-care</strong
        >.
      </p>

      <ProjectImage
        src="/images/mental-pin/unboxing-example.png"
        alt="An unboxing experience for a physical journal."
        description="One of the examples we found on the internet of a cute unboxing experience."
      />

      <p>
        We, of course, talked about <strong>gamifying the application</strong>,
        because that is what most apps seem to be doing today. When thinking
        about this, we considered, for example, Duolingo.
      </p>

      <p>
        As we were trying to slowly but surely diverge away from the AI
        principle, we had the feeling that we might have to kill our babies in
        the sense that however cool these initial ideas might seem, we still
        have to look into how to exactly integrate a language model or something
        to the application. <strong>And that is exactly what happened.</strong>
      </p>

      <p>We presented the four ideas, which turned out to be the following:</p>

      <ul class="text-xl">
        <li>– A physical/analog journal</li>
        <li>– A tasks & rewards system in the application</li>
        <li>– Peer support (creating <em>another</em> type of social media)</li>
        <li>– A personal AI-guided experience</li>
      </ul>

      <p>
        We still had to follow up with the ones that were most exciting for
        Mental Pin's team, the <strong>AI-guided experience</strong> and <strong
          >the tasks and rewards system</strong
        >.
      </p>

      <ProjectImage
        src="/images/mental-pin/mental-pin-ai-experience.png"
        alt="A slide example from the presentation talking about the personalised AI experience."
        description="A slide explaining the personalized AI experience idea, which we presented to the team of Mental Pin."
      />

      <ProjectImage
        src="/images/mental-pin/mental-pin-tasks-and-rewards.png"
        alt="A slide example from the presentation talking about the tasks and rewards system."
        description="A slide explaining the tasks and rewards idea, which we presented to the team of Mental Pin."
      />
    </Block>

    <Block title="Results">
      <p>
        We then delved deep into continuing with the two aforementioned ideas.
        For this, we made a Figma board to prototype the ideas in the mobile
        app. I was mostly in charge of Figma-related things because my teammates
        weren't as proficient with it. I mean, sure, neither was I, but <strong
          >I was very willing to jump right in and spend time with it as it's
          one of the tools of the trade</strong
        >.
      </p>

      <p>We split the application into three rough parts:</p>

      <ul class="text-xl">
        <li>– The onboarding</li>
        <li>– Episode annotation</li>
        <li>– Tasks & Rewards system (which was split into multiple parts)</li>
      </ul>

      <ProjectImage
        src="/images/mental-pin/mental-pin-onboarding.png"
        alt="A few screenshots from the application in the onboarding phase."
        description="A few screenshots from the application in the onboarding phase. We also created a ChatGPT-esque animation, where the questions appear a few words at a time instead of all at once."
      />

      <ProjectImage
        src="/images/mental-pin/mental-pin-annotation.png"
        alt="A few screenshots from the application in the episode annotation phase."
        description="A few screenshots from the application in the annotation phase."
      />

      <p>
        As the above two were mostly topics, which I spent the most time on, I
        will explain them a bit further. For the onboarding, we received
        inspiration, as said, from ChatGPT. The questions were going to be <strong
          >contextual</strong
        >, so that Penny, the onboarding assistant learns from whatever the user
        is answering.
      </p>

      <p>
        For the episode annotation, I, sort of out-of-the-blue, came up with a
        Grammarly-like idea: you can either type or use speech recognition to
        talk about your episode, and then the application will run <strong
          >automatic sentiment analysis</strong
        > so you wouldn't have to go through the trouble of annotating everything
        yourself.
      </p>

      <Link
        color="#FEEEA7"
        href="https://www.figma.com/file/74tddu7foRTW6gzJ3LZXQp/Mental-Pin-%C3%97-IXD?type=design&node-id=1058%3A3534&mode=design&t=SysNZG2kgIuwolZG-1"
        text="Click here to see the Figma board"
      />
    </Block>

    <section class="flex my-20 items-center justify-end gap-8">
      <a class="text-base hover:text-neutral-600" href="/craft/splitwise"
        >Next project (Splitwise) →</a
      >
    </section>
  </div>
</Layout>
