---
import Metadata from "../../components/Metadata.astro";
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";
import Block from "../../components/Block.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <div class="mt-40 max-w-prose flex flex-col gap-8">
    <h1 class="text-5xl sm:text-2xl">Mental Pin</h1>

    <p class="text-2xl sm:text-lg">
      A user interface & user experience design project to make AI feel like
      someone you'd want to express your worries to.
    </p>
  </div>

  <img
    class="object-cover bg-center aspect-video transition max-w-full mt-16 rounded-lg"
    src="/images/mentalpin-cover.jpeg"
    alt="A man holding a phone in an airplane and logging his anxious airport episode."
  />

  <Metadata
    role={[
      "UI design",
      "UX design",
      "Idea generation",
      "Interviewing",
      "Figma prototyping",
    ]}
    duration="6 weeks in 2023"
    methods={[
      "User persona creation",
      "Crazy 8-s",
      "User interviews",
      "Affinity mapping",
      "Low fidelity user journey mapping",
    ]}
  />

  <div class="flex flex-col gap-16">
    <Block title="Summary">
      <p class="text-xl">
        The goal of this project was for my team, consisting of Zac Heisey, Inka
        Jerkku & Sofia Kamergorodski, to help two alumni of IxD, the team at
        <Link title="Mental Pin" href="https://www.mentalpin.com" />, to
        integrate artificial intelligence into their mobile application, which
        helps people handle their anxiety and OCD ticks. While at first, we
        thought that it was another "keeping up with the craze" project, the
        result turned out different.
      </p>
    </Block>

    <Block title="Research">
      <p class="text-xl">
        The team and I delved deep into the world of artificial intelligence
        combined with mental health. This was at the time as ChatGPT was first
        blooming and everybody was getting into language models. Needless to
        say, we found a bunch of amazing experiences with people using ChatGPT
        as their personal assistant to using it as a place to vent, yet we also
        found people who had caused more harm than good by putting their
        thoughts into a lifeless machine.
      </p>

      <p class="text-xl">
        We did 6 semi-structured user interviews, 4 of which were people who
        were on Mental Pin's waiting list & 2 people shared their contacts in a
        Google Form that we sent out to gather some qualitative data. The
        interviews went very well – we were a shocked as to how open people were
        about their mental health struggles and also how open they were to
        looking towards technology to help them on their journey.
      </p>

      <p class="text-xl">
        However, we did not stop there. As we were all slightly skeptical of
        artificial intelligence taking over mental health solutions, we also
        explored some out-of-the-box ideas.
      </p>
    </Block>

    <Block title="Exploring & defining">
      <p class="text-xl">
        As said, since we were quite skeptical of AI at first, we looked to some
        out-of-the-box ideas. We did lots of crazy 8-s, but had a few great
        ideas from the beginning. For example, an "analog" unboxing experience
        instead of a digital one.
      </p>
    </Block>

    <Block title="Developing"><p class="text-xl"></p></Block>
    <Block title="Delivering & listening"><p class="text-xl"></p></Block>

    <section class="flex my-20 items-center justify-end gap-8">
      <Link href="/craft/splitwise" title="Next project (Splitwise) –>" />
    </section>
  </div>
</Layout>
