---
import Metadata from "../../components/Metadata.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Mental Pin">
  <div class="mt-40 max-w-prose flex flex-col gap-8">
    <h1 class="text-5xl">Mental Pin</h1>

    <p class="text-2xl text-slate-800">
      A user interface & user experience design project to make AI feel humane.
    </p>
  </div>

  <Metadata
    role={[
      "UI design",
      "UX design",
      "Idea generation",
      "Interviewing",
      "Figma prototyping",
    ]}
    duration="6 weeks"
    methods={[
      "User persona creation",
      "Crazy 8-s",
      "User interviews",
      "Affinity mapping",
      "Low fidelity user journey mapping",
    ]}
  />
</Layout>
