---
import Metadata from "../../components/Metadata.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Ph천천n | Kristjan Poska ~ Design Engineer">
  <div class="mt-40 max-w-prose flex flex-col gap-8">
    <h1 class="text-5xl sm:text-2xl">Ph천천n</h1>

    <p class="text-2xl sm:text-lg">
      An interaction design project to boost Tallinner's mental health.
    </p>
  </div>

  <Metadata
    role={[
      "User interviewing",
      "Idea generation",
      "Service design",
      "User persona & journey mapping",
      "Low-fidelity prototyping",
      "Video editing",
    ]}
    duration="7 weeks in 2022"
    methods={[
      "Lotus blossoms",
      "Crazy 8-s",
      "Low-fidelity prototyping",
      "Value effort matrix",
      "Video storytelling",
    ]}
  />
</Layout>
