---
import BrutalistMs from "@components/playground/MsCard.astro";
import HoverCard from "@components/playground/HoverCard.astro";
import Layout from "@layouts/Layout.astro";
import CornerUpLeft from "node_modules/lucide-astro/dist/CornerUpLeft.astro";
import Wrapper from "@components/Wrapper.astro";
---

<Layout title="Kristjan Poska – Product Designer">
  <Wrapper>
    <div class="relative my-8">
      <a
        class="mb-8 flex items-center gap-2 text-sm leading-6 text-neutral-500 transition-colors hover:text-inherit lg:absolute lg:-left-32"
        href="/">
        <CornerUpLeft class="h-3 w-3" />
         Back
      </a>

      <h1 class="font-semibold">Playground</h1>

      <div class="mb-4 text-neutral-500">
        An ever-evolving project of different UI and UX
        tryouts and replications I have created over time.
      </div>
    </div>
  </Wrapper>

  <HoverCard />
  <BrutalistMs />
</Layout>
