---
import Block from "@components/Block.astro";
import Link from "@components/Link.astro";
import Metadata from "@components/Metadata.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <div class="mt-48 sm:mt-24 max-w-prose flex flex-col gap-8">
    <h1 class="text-5xl tracking-wide sm:text-2xl">Playser</h1>

    <p class="text-2xl sm:text-lg">
      A tangible design project to help musicians in the future.
    </p>
  </div>

  <img
    class="object-cover bg-center aspect-video transition max-w-full mt-16 rounded-md"
    src="/images/playser-cover.jpg"
    alt="A man putting his hand into the lasers to play notes on the prototype."
  />

  <Metadata
    role={["Tangible design", "Arduino programming", "Technical bits and bobs"]}
    duration="5 weeks in 2023"
    methods={[
      "Crazy 8-s",
      "Low-fidelity prototyping",
      "High-fidelity prototyping",
      "Hardware & software programming",
      "Exhibition design",
    ]}
  />

  <div class="flex flex-col gap-16">
    <Block title="Summary"><p class="text-xl"></p></Block>
    <Block title="Research"><p class="text-xl"></p></Block>
    <Block title="Exploring & defining"><p class="text-xl"></p></Block>
    <Block title="Developing"><p class="text-xl"></p></Block>
    <Block title="Delivering & listening"><p class="text-xl"></p></Block>

    <section class="flex my-20 items-center justify-between gap-8">
      <Link title="← Previous project (Splitwise)" href="/craft/splitwise" />
      <Link title="Next project (INVL) →" href="/craft/invl" />
    </section>
  </div>
</Layout>
