---
import Block from "@components/Block.astro";
import Link from "@components/Link.astro";
import Metadata from "@components/Metadata.astro";
import ProjectImage from "@components/ProjectImage.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <div class="mt-48 sm:mt-24 max-w-prose flex flex-col gap-8">
    <h1 class="text-4xl sm:text-2xl">Salary Calculator</h1>

    <p>
      One of the first UI projects I worked on, redesigning the Estonian salary
      calculator.
    </p>
  </div>

  <Metadata
    role={["UI design", "Idea generation", "Figma prototyping"]}
    duration="Oct 2022"
    methods={["Gestalt principles", "Peer reviews", "Color wheels", "UI kits"]}
  />

  <img
    class="object-contain bg-center aspect-video transition max-w-full mt-16 rounded-md"
    src="/images/salary/salary-calc-mockup.png"
    alt="A screenshot of the Estonian salary calculator."
  />

  <div class="flex flex-col gap-16 mt-16">
    <Block title="Summary">
      <p>
        The goal of this project was to <strong
          >get to know the basics of visual design</strong
        >: typography, Gestalt principles, colors, and their use cases, etc.
        This project was one of the first thorough introductions to visual
        design that I had – I wrote down lots of notes and feel that I learned a
        lot.
      </p>
    </Block>

    <Block title="The first iteration">
      <p>
        I have to say, at first, I felt very lost when trying to redesign the
        calculator. The first (filled out) iteration of the calculator looked
        like this:
      </p>

      <ProjectImage
        src="/images/salary/salary-calc-initial-empty.png"
        alt="A screenshot of the initial iteration of the salary calculator."
      />

      <ProjectImage
        src="/images/salary/salary-calc-initial.png"
        alt="Another screenshot of the initial iteration of the salary calculator, which is filled with data."
      />

      <p>
        I did make a <strong>UI kit</strong>, and tried to choose colors that
        might fit with the money and confidence theme (blue-ish colors),
        however, there were some very odd mistakes, e.g. the "pie chart" looked
        very odd and the text on the right <strong
          >wasn't explanatory enough</strong
        >.
      </p>

      <p>
        Needless to say, the empty state looked quite weird as well – the area
        on the right would not have had data unless the form was filled out, so
        it was taking up unnecessary space.
      </p>

      <p>
        So I went to Pinterest and Dribbble for some inspiration, and with that,
        <strong>the second iteration was born</strong>.
      </p>
    </Block>

    <Block title="The second iteration">
      <img
        class="object-cover bg-center transition max-w-full rounded-md"
        src="/images/salary/salary-calc-second-empty.png"
        alt="The second iteration of the calculator."
      />

      <img
        class="object-cover bg-center transition max-w-full rounded-md"
        src="/images/salary/salary-calc-second.png"
        alt="The second iteration of the calculator with filled data."
      />

      <p>
        I am happier with how the second iteration turned out. I saw some great
        examples on the web and learned my first lesson in design:
      </p>

      <p>
        <strong
          >You sometimes have to <Link
            color="#9CE6CF"
            href="https://austinkleon.com/steal/"
            text="steal like an artist"
          />.</strong
        >
      </p>

      <p>
        I got better feedback and our mentors said that this was <strong
          >a huge step up from the initial version and that they're happy to see
          progress</strong
        >. Of course, there were still odd parts, e.g. the salary input being
        too long (because who would have millions, right?) and the pie chart
        part appearing at the bottom of the form (which might make it not as
        visible), but those were just nitpicked.
      </p>
    </Block>

    <section class="flex my-20 items-center justify-start gap-8">
      <a class="text-base hover:text-neutral-600" href="/craft/invl"
        >← Previous project (INVL)</a
      >
    </section>
  </div>
</Layout>
