---
import Block from "@components/Block.astro";
import Link from "@components/Link.astro";
import Metadata from "@components/Metadata.astro";
import ProjectImage from "@components/ProjectImage.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <div class="mt-48 sm:mt-24 max-w-prose flex flex-col gap-8">
    <h1 class="text-4xl sm:text-2xl">Splitwise</h1>

    <p>
      An emotional design project to reduce the anxiety around tracking group
      expenses.
    </p>
  </div>

  <Metadata
    role={["UI design", "UX design"]}
    duration="Apr 2023"
    methods={[
      "Figma prototyping",
      "UI design",
      "Presenting",
      "Don Norman's 3 Levels of Design",
      "Design principles",
      "How-might-we question",
    ]}
  />

  <img
    class="object-cover bg-center aspect-video transition max-w-full mt-16 rounded-sm"
    src="/images/splitwise/splitwise-cover.jpg"
    alt="A phone on a table showing the updated emotional looks of the Splitwise application."
  />

  <div class="flex flex-col gap-16 mt-16">
    <Block title="Summary">
      <p>
        My role in the project was to take an existing application from any
        realm possible (desktop, tablet, mobile, coffee machine…) and <strong
          >redesign it using the emotional design principles</strong
        >. As the application, I chose something I use every week if not every
        day: <Link
          color="#91C6F7"
          href="https://www.splitwise.com/"
          text="Splitwise"
        />. I then created <strong>wireflows and an emotional map</strong> of the
        application and made it more emotional.
      </p>
    </Block>

    <Block title="Background">
      <p>
        The project aimed to choose an application that I used every day and
        redesign it to apply the emotional design principles. I chose Splitwise
        as my application as it is something that I use every week if not every
        day.
      </p>

      <ProjectImage
        src="/images/splitwise/interaction-map.jpg"
        alt="An interaction map of the Splitwise application's expense-adding flow."
        description="An interaction map of the Splitwise application's expense-adding flow."
      />

      <p>
        When creating the interaction map, I also created an emotional map of
        the application – which emotions I felt during adding an expense or
        settling expenses in the application. The main emotions I found were:
      </p>

      <ul>
        <li>→ Curious (whether I've had any new expenses)</li>
        <li>→ Confused (the expense-adding flow got confusing at times)</li>
        <li>→ Relieved & Liberated (when settling up)</li>
      </ul>
    </Block>

    <Block title="Defining new emotions">
      <p>
        Me and my coursemates at <Link
          color="#91C6F7"
          href="https://ixd.ma/"
          text="IxD.ma"
        /> did an exercise where we went through everyone's application and everyone
        could add feedback or ideas for the application. The result looked very nice
        and colorful (my column is the first one on the left):
      </p>

      <img
        class="object-contain bg-center transition max-w-full rounded-sm"
        src="/images/splitwise/ideation.jpg"
        alt="An interaction map of the Splitwise application's expense-adding flow."
      />

      <p>
        As you might see from the image, I created a <strong
          >how-might-we question</strong
        > and <strong>4 simple design principles</strong> to guide me on my way.
        The how-might-we question was the following:
      </p>

      <p>
        How might we create a more engaging and emotionally satisfying
        experience for users when they enter their expenses on Splitwise so that
        it feels less like a chore and more like a fun and rewarding activity?
      </p>

      <p>And the four design principles guiding me on my way were:</p>

      <ul>
        <li>– Reward!</li>
        <li>– Simplify!</li>
        <li>– Surprise!</li>
        <li>– Empower!</li>
      </ul>

      <p>
        There were lots of great suggestions from my coursemates. I packaged
        them all into one and got the result.
      </p>
    </Block>

    <Block title="Result">
      <ProjectImage
        src="/images/splitwise/mockups.png"
        alt="Three mockups of the initial screens."
      />

      <p>
        With the subtle background color, I hoped to <strong
          >evoke the sense of urgency</strong
        >, but at the same time, show a quick overview. Same with the colored
        dots in the dropdown – at a glance you can see whether you're in a "good
        position" or a "bad position". The emojis will also show what the
        balance is and will try to <strong
          >evoke a sense of understanding</strong
        >.
      </p>

      <p>
        I also <strong>hid the balance</strong> of the group or with your friend
        behind a click so it wouldn't be the first thing you see when opening the
        application. It is sort of a way to procrastinate paying up, but also <strong
          >reduces the anxiety</strong
        > around immediately having to pay up.
      </p>

      <p>
        In the Figma board, which is below, I also created a couple of
        <strong>notifications to remind the person about the balance</strong>.
      </p>

      <Link
        color="#91C6F7"
        href="https://www.figma.com/file/JismZDZU1DWrYsUFiwXJxD/Splitwise-Redesign?type=design&node-id=37%3A139&mode=design&t=OWWv8CNqTUBVPysl-1"
        text="Click here to see the Figma board"
      />
    </Block>

    <section class="flex my-20 items-center justify-between gap-8">
      <a class="text-base hover:text-neutral-600" href="/craft/mentalpin"
        >← Previous project (Mental Pin)</a
      >
      <a class="text-base hover:text-neutral-600" href="/craft/invl"
        >Next project (INVL) →</a
      >
    </section>
  </div>
</Layout>
