---
import Metadata from "../../components/Metadata.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Splitwise | Kristjan Poska ~ Design Engineer">
  <div class="mt-40 max-w-prose flex flex-col gap-8">
    <h1 class="text-5xl sm:text-2xl">Splitwise</h1>

    <p class="text-2xl sm:text-lg">
      An emotional design project to reduce the anxiety around tracking group
      expenses.
    </p>
  </div>

  <img
    class="object-cover bg-center aspect-video transition max-w-full mt-16"
    src="/images/splitwise-cover.jpg"
    alt="A phone on a table showing the updated emotional looks of the Splitwise application."
  />

  <Metadata
    role={["UI design", "UX design"]}
    duration="3 weeks in 2023"
    methods={["Figma prototyping", "UI design", "Presenting"]}
  />

  <div class="flex flex-col gap-16">
    <section class="flex flex-col gap-8">
      <h1 class="text-5xl sm:text-2xl">Summary</h1>

      <p class="text-xl">
        My role in the project was to take an existing application from any
        realm possible (desktop, tablet, mobile, coffee machine…) and redesign
        it using the emotional design principles. As the application, I chose
        something I use every week, if not every day: <a
          href="https://www.splitwise.com/">Splitwise</a
        >. I then created wireflows and an emotional map of the application and
        made it more emotional.
      </p>
    </section>

    <section class="flex flex-col gap-8">
      <h1 class="text-5xl sm:text-2xl">Research</h1>

      <p class="text-xl"></p>
    </section>

    <section class="flex flex-col gap-8">
      <h1 class="text-5xl sm:text-2xl">Exploring & defining</h1>

      <p class="text-xl"></p>
    </section>

    <section class="flex flex-col gap-8">
      <h1 class="text-5xl sm:text-2xl">Developing</h1>

      <p class="text-xl"></p>
    </section>

    <section class="flex flex-col gap-8">
      <h1 class="text-5xl sm:text-2xl">Delivering & listening</h1>

      <p class="text-xl"></p>
    </section>
  </div>
</Layout>
