@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans antialiased transition-colors;
  text-rendering: optimizeLegibility;
  scrollbar-gutter: stable;
}

body {
  @apply bg-[#fff] text-sm font-normal tracking-[-0.025rem] text-[#020617];
}

h1,
h2 {
  @apply font-medium;
}

::-moz-selection {
  @apply bg-theme-orange text-white;
}

::selection {
  @apply bg-theme-orange text-white;
}

code {
  font-family: "Geist Mono", monospaced;
}
