---
import Pill from "@components/Pill.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Kristjan Poska – Product Designer">
  <section class="mt-48 flex gap-8 md:mt-24 md:flex-col">
    <div>
      <div class="mb-8 max-w-4xl gap-8">
        <div class="flex flex-col gap-8">
          <h1
            class="max-w-4xl animate-fade-up text-6xl tracking-tighter animate-once md:text-2xl">
            Hey, I'm Kristjan!
          </h1>

          <p
            class="animate-fade-up
          animate-delay-200 animate-once">
            I am a designer and self-taught developer, who
            does not back down from difficult tasks. Having
            a non-development background, I have an
            advantage in the design process – I have
            experience in lots of different fields, be it
            language, music, philosophy, etc., which makes
            me a powerful ally in any situation.
          </p>

          <p
            class="animate-fade-up
          animate-delay-300 animate-once">
            I strongly believe in teamwork, however as I am
            also a very avid learner, quick-witted, and,
            when necessary, quite independent. I always
            strive to do better and grow from even the most
            critical feedback.
          </p>
        </div>
      </div>

      <div
        class="animate-fade-up
      animate-delay-500 animate-once">
        <p class="mb-2">
          Some random (semi-cool 😎) facts about me:
        </p>
        <ul class="list-inside list-disc">
          <li>
            I have the personality type of an <span
              class="font-semibold">Executive (ESTJ-T)</span
            >.
          </li>
          <li>
            After being a classical musician for 15 years, <span
              class="font-semibold">I turned to guitar</span
            >.
          </li>
          <li>
            <span class="font-semibold"
              >I love cycling.</span
            > I have a cheap single-speed bicycle that I
            adore to bits.
          </li>
        </ul>
      </div>
    </div>

    <img
      src="/images/kristjan.webp"
      alt="Kristjan Poska"
      class="h-full w-96 animate-fade-up rounded-md shadow-md animate-once animate-ease-out md:w-full md:animate-delay-700"
    />
  </section>
</Layout>
