---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kristjan Poska ~ Design Engineer">
  <section>
    <div class="mt-40 max-w-prose flex flex-col gap-8">
      <h1 class="text-5xl">
        My name is Kristjan Poska, I'm a <em>design engineer</em> working and living
        in Estonia.
      </h1>
      <p class="text-2xl text-slate-800">
        I realised halfway through my Bachelor's that design and development are
        two areas that excite me the most in the world. While it took me some
        time to delve deeper into in it, I have always appreciated people, who
        deeply believe in me, even if I might not be able to sell myself as
        well.
      </p>
      <p class="text-2xl text-slate-800">
        I take pride in being meticulous in my work and going through every
        single detail. I love systematization and organization, however I do not
        back down from presenting out-of-the-box ideas and pursuing experimental
        ideas if I see a direct connection in how it increases the experience of
        users.
      </p>
      <p class="text-2xl text-slate-800">
        I strongly believe in teamwork, however as I am also a very avid
        learner, quick-witted and pretty independent, it makes me an useful ally
        in any situation.
      </p>
    </div>
  </section>

  <section class="mt-64">
    <h1 class="text-5xl mb-2">Let's get to know eachother.</h1>
    <a
      class="text-5xl text-slate-800 hover:text-slate-600"
      href="mailto:kristjanposka@gmail.com?subject=I want to work with you, Kristjan"
      >Get in touch.</a
    >
  </section>
</Layout>

<style></style>
