---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <section class="my-48 sm:my-24">
    <div class="max-w-4xl flex flex-col gap-8">
      <h1
        class="text-5xl tracking-wide sm:text-2xl animate-fade-right animate-once animate-ease-out">
        My name is Kristjan Poska, <br />I'm a design engineer<span
          class="text-[#91C5F7]">*</span
        > working, studying, and living in Estonia. 🇪🇪
      </h1>

      <div class="flex flex-col gap-8">
        <p class="text-sm animate-fade-right animate-once animate-ease-out">
          <span class="text-[#91C5F7]">*</span> I love combining design & engineering,
          ensuring code quality and facilitating collaboration between designers
          and engineers for optimal product development and innovation.
        </p>

        <p
          class="text-lg sm:text-lg animate-fade-right animate-once animate-ease-out animate-delay-100">
          I am a designer and self-taught developer, who does not back down from
          difficult tasks. Having a non-development background, I have an
          advantage in the design process – I have experience in lots of
          different fields, be it language, music, philosophy, etc., which makes
          me a powerful ally in any situation.
        </p>

        <p
          class="text-lg sm:text-lg animate-fade-right animate-once animate-ease-out animate-delay-200">
          I take pride in being meticulous in my work and going through every
          single detail. I love systematization and organization, however, I do
          not back down from presenting out-of-the-box ideas and pursuing
          experimental ideas if I see a direct connection in how it increases
          the experience of users.
        </p>

        <p
          class="text-lg sm:text-lg animate-fade-right animate-once animate-ease-out animate-delay-300">
          I strongly believe in teamwork, however as I am also a very avid
          learner, quick-witted, and, when necessary, quite independent. I
          always strive to be the very best <span class="text-neutral-400"
            >(like no one ever was)</span
          > and grow from even the most critical feedback.
        </p>
      </div>
    </div>

    <img
      class="mt-8 object-cover bg-center aspect-video w-full rounded-lg"
      src="/images/kristjan.jpg"
      alt="Kristjan Poska"
    />

    <small class="-mt-6"
      >Me wearing the black hat during the "six thinking hats" technique when
      critiquing.</small
    >
  </section>

  <section
    class="mb-40 sm:mb-20 sm:text-center animate-fade-right animate-once animate-ease-out animate-delay-500">
    <h1 class="text-5xl tracking-wide mb-2 sm:text-2xl">
      Let's get to know each each other.
    </h1>
    <button
      id="email-button"
      class="text-5xl tracking-wide hover:no-underline underline sm:text-2xl"
      >kristjanposka@gmail.com</button
    >
    <span id="change-text-left" class="sm:hidden"
      >{`←`} Click on the e-mail to copy</span
    >
    <div id="change-text-up" class="min-sm:hidden mt-2">
      Click on the e-mail to copy ⤴
    </div>
  </section>
</Layout>

<script>
  document.querySelector("#email-button").addEventListener("click", () => {
    navigator.clipboard.writeText("kristjanposka@gmail.com");

    const copiedElUp = document.querySelector("#change-text-up");
    const copiedElLeft = document.querySelector("#change-text-left");

    copiedElUp.innerHTML = "Copied ⤴";
    copiedElLeft.innerHTML = "← Copied";

    setTimeout(() => {
      copiedElLeft.innerHTML = "← Click on the e-mail to copy";
      copiedElUp.innerHTML = "Click on the e-mail to copy ⤴";
    }, 1500);
  });
</script>
