---
import EmailButton from "@components/EmailButton.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <div
    class="sm:text-center animate-fade-right animate-once animate-ease-out flex flex-col flex-grow justify-center">
    <h1 class="text-5xl tracking-wide mb-2 sm:text-2xl">
      Let's get to know each other.
    </h1>

    <div>
      <EmailButton />
    </div>

    <p class="text-2xl mt-16 max-w-prose sm:text-center">
      I'm pretty good at getting back to e-mails.
    </p>
  </div>
</Layout>
