---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <div
    class="sm:text-center animate-fade-right animate-once animate-ease-out flex flex-col flex-grow justify-center">
    <h1 class="text-5xl mb-2 sm:text-2xl">Let's get to know each other.</h1>

    <div>
      <button
        id="email-button"
        class="text-5xl hover:no-underline underline sm:text-2xl"
        >kristjanposka@gmail.com</button
      >
      <span id="change-text-left" class="sm:hidden"
        >{`<–`} Click on the e-mail to copy</span
      >
      <div id="change-text-up" class="min-sm:hidden mt-2">
        Click on the e-mail to copy ⤴
      </div>
    </div>

    <p class="text-2xl mt-16 max-w-prose sm:text-center">
      I'm pretty good at getting back to e-mails.
    </p>
  </div>
</Layout>

<script>
  document.querySelector("#email-button").addEventListener("click", () => {
    navigator.clipboard.writeText("kristjanposka@gmail.com");

    const copiedElUp = document.querySelector("#change-text-up");
    const copiedElLeft = document.querySelector("#change-text-left");

    copiedElUp.innerHTML = "Copied ⤴";
    copiedElLeft.innerHTML = "<– Copied";

    setTimeout(() => {
      copiedElLeft.innerHTML = "<– Click on the e-mail to copy";
      copiedElUp.innerHTML = "Click on the e-mail to copy ⤴";
    }, 1500);
  });
</script>
