---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";

import { sortAndHidePosts } from "@utils/utils";

const posts = await Astro.glob("../pages/craft/*.mdx");
const parsedPosts = sortAndHidePosts(posts);
---

<Layout title="Kristjan Poska – Product Designer">
  <header class="mt-8 text-neutral-700">
    <p>
      A passionate product designer based in Tallinn,
      Estonia. Working on UX/UI projects with the power of
      front-end development in my rucksack. Comfortable
      using TypeScript, React and TailwindCSS on the
      development side and Figma plus my creative-side of
      the brain on the design side.
    </p>
  </header>

  <section class="mt-8 flex flex-col gap-2">
    {
      parsedPosts.map((post) => {
        const { description, date } = post.frontmatter;

        return (
          <Card
            date={date}
            description={description}
            href={post.url}
          />
        );
      })
    }
  </section>
</Layout>
