---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import EmailButton from "@components/EmailButton.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <header
    class="my-48 sm:my-24 flex flex-col gap-8 animate-fade-right animate-once animate-ease-out"
  >
    <h1 class="text-4xl sm:text-2xl max-w-3xl">
      Hey, I'm Kristjan. I craft memorable digital experiences with precision
      and passion.
    </h1>

    <div class="flex flex-col justify-between gap-8">
      <h2 class="text-lg max-w-prose">
        I bring your vision to life while paying meticulous attention to even
        the smallest details.
      </h2>
    </div>
  </header>

  <section
    id="craft"
    class="flex flex-col gap-4 scroll-mt-16 animate-fade-right animate-once animate-ease-out animate-delay-200"
  >
    <h3 class="text-neutral-600 uppercase mb-4">Recent work</h3>

    <Card
      alt="A tracing of participants in the first workshop that we did."
      background="bg-[#F98948]"
      description="A social innovation project to help the Estonian Refugee Council to integrate young Ukrainians to the Estonian society."
      href="/craft/erc"
      imageSrc="/images/erc/erc-transfer.svg"
      centered
      title="ERC"
    />

    <Card
      alt="A screenshot of the Mental Pin application's annotation process."
      background="bg-[#FEEA93]"
      description="A user interface & user experience design project to make AI feel like someone you'd want to express your worries to."
      href="/craft/mentalpin"
      imageSrc="/images/mental-pin/mental-pin-mockup.png"
      title="Mental Pin"
    />

    <Card
      alt="A screenshot of the redesigned Splitwise application."
      background="bg-[#91C6F7]"
      description="An emotional design project to reduce the anxiety around tracking group expenses."
      href="/craft/splitwise"
      imageSrc="/images/splitwise/splitwise-mockup.png"
      title="Splitwise"
    />

    <Card
      alt="A user journey map displaying the journey of the user the team came up with – Margus."
      background="bg-[#FED4E7]"
      description="A service design project to help INVL find their blue ocean."
      href="/craft/invl"
      imageSrc="/images/invl/margus-journey.jpg"
      laptop
      title="INVL"
    />

    <Card
      alt="A redesign of the Estonian salary calculator found online."
      background="bg-[#9CE6CF]"
      description="One of the first UI projects I worked on, redesigning the Estonian salary calculator."
      href="/craft/salary"
      imageSrc="/images/salary/salary-calc-mockup.png"
      laptop
      title="Salary Calculator"
    />
  </section>

  <section
    class="my-40 sm:my-20 sm:text-center animate-fade-right animate-once animate-ease-out animate-delay-[400ms]"
  >
    <h1 class="text-4xl mb-2 sm:text-2xl">Let's get to know each other.</h1>
    <EmailButton />
  </section>
</Layout>
