---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Kristjan Poska – Design Engineer">
  <header
    class="my-48 sm:my-24 flex flex-col gap-8 animate-fade-right animate-once animate-ease-out">
    <h1 class="text-5xl sm:text-2xl max-w-3xl">
      My name is Kristjan Poska,<br /> I'm a design engineer<a
        class="text-[#91C5F7]"
        href="/about">*</a
      > working, studying and living in Estonia. 🇪🇪
    </h1>

    <div class="flex flex-col justify-between gap-8">
      <h2 class="text-lg max-w-prose">
        I take the deepest possible plunge into anything I do, while paying
        meticulous attention to even the smallest details.
      </h2>
    </div>
  </header>

  <section
    id="craft"
    class="flex flex-col gap-4 scroll-mt-16 animate-fade-right animate-once animate-ease-out animate-delay-200">
    <h3 class="text-gray-600 uppercase mb-4">Recent work</h3>

    <Card
      title="Mental Pin"
      description="A user interface & user experience design project to make AI feel like someone you'd want to express your worries to."
      imageSrc="/images/mental-pin-mockup.png"
      alt="A man holding a phone in an airplane and logging his anxious airport episode."
      href="/craft/mentalpin"
      background="bg-[#FEEA93]"
    />

    <Card
      title="Splitwise"
      description="An emotional design project to reduce the anxiety around tracking group expenses."
      imageSrc="/images/splitwise-mockup.png"
      alt="A phone on a table showing the updated emotional looks of the Splitwise application."
      href="/craft/splitwise"
      background="bg-[#91C6F7]"
    />

    <Card
      title="INVL"
      description="A service design project to help INVL find their blue ocean."
      imageSrc="/images/invl-margus-journey.jpg"
      alt="A user journey map displaying the journey of the user the team came up with – Margus."
      href="/craft/invl"
      background="bg-[#FED4E7]"
      laptop
    />

    <Card
      title="Salary calculator"
      description="One of the first UI projects I worked on, redesigning the Estonian salary calculator."
      imageSrc="/images/salary-calc-mockup.png"
      alt="A redesign of the Estonian salary calculator found online."
      href="/craft/salary"
      background="bg-[#9CE6CF]"
      laptop
    />
  </section>

  <section
    class="my-40 sm:my-20 sm:text-center animate-fade-right animate-once animate-ease-out animate-delay-[400ms]">
    <h1 class="text-5xl mb-2 sm:text-2xl">Let's get to know eachother.</h1>
    <button
      id="email-button"
      class="text-5xl hover:no-underline underline sm:text-2xl"
      >kristjanposka@gmail.com</button
    >
    <span id="change-text-left" class="sm:hidden"
      >{`<–`} Click on me to copy</span
    >
    <div id="change-text-up" class="min-sm:hidden mt-2">
      Click on me to copy ⤴
    </div>
  </section>
</Layout>

<script>
  document.querySelector("#email-button").addEventListener("click", () => {
    navigator.clipboard.writeText("kristjanposka@gmail.com");

    const copiedElUp = document.querySelector("#change-text-up");
    const copiedElLeft = document.querySelector("#change-text-left");

    copiedElUp.innerHTML = "Copied ⤴";
    copiedElLeft.innerHTML = "<– Copied";

    setTimeout(() => {
      copiedElLeft.innerHTML = "<– Click on me to copy";
      copiedElUp.innerHTML = "Click on me to copy ⤴";
    }, 1500);
  });
</script>
