---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Kristjan Poska ~ Design Engineer">
  <header class="h-[calc(100vh-72px)] flex items-end">
    <div class="flex gap-8 mb-12 sm:flex-col md:flex-row">
      <h1 class="text-5xl">
        My name is Kristjan Poska, I'm a <em>design engineer</em> working and living
        in Estonia.
      </h1>
      <div class="flex flex-col justify-between md:gap-8">
        <h2 class="text-2xl text-slate-800">
          I take the deepest possible plunge into anything I do, while paying
          meticulous attention to even the smallest details.
        </h2>

        <ul class="flex gap-4">
          <li>
            <a
              class="text-sm hover:text-slate-800"
              href="https://instagram.com/kristjanposka">Instagram</a
            >
          </li>
          <li>
            <a
              class="text-sm hover:text-slate-800"
              href="https://twitter.com/kristjanposka">Twitter</a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>

  <section id="craft" class="mt-32 flex flex-col gap-8 scroll-mt-16">
    <Card
      title="Mental Pin"
      description="A user interface & user experience design project to make AI feel humane."
      imageSrc="/images/mentalpin-cover.jpeg"
      alt="A man holding a phone in an airplane and logging his anxious airport episode."
      href="/craft/mentalpin"
    />
    <Card
      title="Splitwise"
      description="An emotional design project to reduce the anxiety around tracking group expenses."
      imageSrc="/images/splitwise-cover.jpg"
      alt="A phone on a tableshowing the updated emotional looks of the Splitwise application."
      href="/craft/splitwise"
    />
    <Card
      title="Playser"
      description="A tangible design project to help musicians in the future."
      imageSrc="/images/playser-cover.jpg"
      alt="A man putting his hand into the lasers to play notes on the prototype."
      href="/craft/playser"
    />
    <Card
      title="INVL"
      description="A service design project to help INVL find their blue ocean."
      imageSrc="/images/invl-cover.jpeg"
      alt="A drawing of a lady behind a table, receiving a big amount of money."
      href="/craft/invl"
    />
    <Card
      title="Phõõn"
      description="An interaction design project to boost Tallinner's mental health."
      imageSrc="/images/phoon.jpg"
      alt="An old rotary attached to a tree in the forest."
      href="/craft/phoon"
    />
  </section>

  <section class="mt-64">
    <h1 class="text-5xl mb-2">Let's get to know eachother.</h1>
    <a
      class="text-5xl text-slate-800 hover:text-slate-600"
      href="mailto:kristjanposka@gmail.com?subject=I want to work with you, Kristjan"
      >Get in touch.</a
    >
  </section>
</Layout>
