---
import Container from "@components/Container.astro";
import Header from "@components/project/Header.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";

import type { ImageMetadata } from "astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/photos/*.{jpeg,jpg,png,gif}"
);

const importFns: Array<() => any> = Object.values(images);
---

<Header
  title="Photos"
  description="A few cool photos I have taken"
/>

<Container shouldWrapMdx>
  As with multiple product designer portfolios you've seen
  lately, I too share a passion for photography. Although
  I'm often unsure of the technical details and rely on
  automatic settings, I believe I've captured a few
  compelling images over the years.
</Container>

<Layout title="Photos">
  <div
    class="mt-4 columns-1 lg:w-full lg:columns-3 lg:gap-2">
    {
      importFns.map((importFn) => {
        return (
          <div class="inline-block w-full break-inside-avoid">
            <Image
              class="rounded-lg"
              src={importFn()}
              alt="An image most likely taken with a Fujifilm camera"
            />
          </div>
        );
      })
    }
  </div>
</Layout>
