---
const {title, description, image} = Astro.props;
---

<div class="card">
  <div class="information">
    <h2>{title}</h2>
    <p>{description}</p>
  </div>
  <div>
    {image}
  </div>
</div>

<style>
  .card .information {
    display: flex;
    flex-direction: column;
  }
</style>
