---
const { description, href, date } = Astro.props;
---

<div>
  <a
    class="hover:text-theme-orange underline transition-colors"
    href={href}>{description}</a
  >
  <div class="text-neutral-500">{date}</div>
</div>
