---
const { description, href, date } = Astro.props;
---

<div>
  <a
    class="underline transition-colors hover:no-underline"
    href={href}>{description}</a
  >
  <div class="text-neutral-500">{date}</div>
</div>
