---
const { description, href, date } = Astro.props;
---

<div class="text-sm">
  <a
    class="underline transition-colors hover:text-green-500"
    href={href}>{description}</a
  >
  <div class="text-neutral-500">{date}</div>
</div>
