---
const { description, href, date, type } = Astro.props;

let bubbleColor;

switch (type) {
  case "fun":
    bubbleColor = "bg-orange-500";
    break;
  case "school":
    bubbleColor = "bg-indigo-400";
    break;
  case "thoughts":
    bubbleColor = "bg-purple-300";
    break;
  default:
    bubbleColor = "bg-black";
    break;
}

const dateTime = new Date(date).toLocaleDateString();

const formattedDate = new Date(date).toLocaleDateString(
  "en-US",
  { month: "short", year: "numeric" }
);
---

<a
  href={href}
  id="list-element"
  class="group flex items-start gap-2 py-1 transition-opacity first-of-type:pt-0 last-of-type:pb-0 hover:!opacity-100">
  <div class="gap-2">
    <div
      class:list={[
        "mr-2 inline-block h-2 w-2 rounded-full align-middle",
        bubbleColor,
      ]}>
    </div>
    <span class="group-hover:text-[#111111]">
      {description}
    </span>
  </div>
  <div class="flex h-5 flex-grow items-center">
    <div class="h-px min-w-[2rem] flex-grow bg-neutral-300">
    </div>
  </div>
  <time
    datetime={dateTime}
    class="shrink-0 whitespace-nowrap text-right text-neutral-300">
    {formattedDate}
  </time>
</a>
