---
import Markdown from "@components/Markdown.astro";

const { shouldWrapMdx } = Astro.props;
---

<div class="relative mx-auto max-w-prose">
  {
    !shouldWrapMdx ? (
      <slot />
    ) : (
      <Markdown>
        <slot />
      </Markdown>
    )
  }
</div>
