<button
  id="email-button"
  class="text-5xl tracking-wide hover:no-underline underline sm:text-2xl"
  >kristjanposka@gmail.com</button
>
<span id="change-text-left" class="sm:hidden"
  >{`←`} Click on the e-mail to copy</span
>
<div id="change-text-up" class="min-sm:hidden mt-2">
  Click on the e-mail to copy ⤴
</div>

<script>
  document.querySelector("#email-button").addEventListener("click", () => {
    navigator.clipboard.writeText("kristjanposka@gmail.com");

    const copiedElUp = document.querySelector("#change-text-up");
    const copiedElLeft = document.querySelector("#change-text-left");

    copiedElUp.innerHTML = "Copied ⤴";
    copiedElLeft.innerHTML = "← Copied";

    setTimeout(() => {
      copiedElLeft.innerHTML = "← Click on the e-mail to copy";
      copiedElUp.innerHTML = "Click on the e-mail to copy ⤴";
    }, 1500);
  });
</script>
