<div class="prose">
  <slot />
</div>

<style is:global>
  .prose {
    @apply flex flex-col gap-2;
  }

  .prose h1 {
    @apply mt-6 font-medium;
  }

  .prose strong {
    @apply font-medium text-theme-orange;
  }

  .prose a {
    @apply underline hover:no-underline;
  }

  .prose img.inline {
    @apply my-3;
  }

  .prose blockquote {
    @apply my-3 border-l-8 border-theme-orange bg-neutral-200 px-4 py-3;
  }
</style>
