<div class="project"><slot /></div>

<style is:global>
  .project {
    @apply flex flex-col gap-2;
  }

  .project h1 {
    @apply mt-6 font-semibold;
  }

  .project strong {
    @apply font-semibold text-theme-orange;
  }

  .project a {
    @apply underline hover:no-underline;
  }

  .project img {
    @apply my-3;
  }

  .project blockquote {
    @apply bg-zinc-200 border-l-8 border-theme-orange px-4 py-3 my-3;
  }
</style>
