<div class="project"><slot /></div>

<style is:global>
  .project {
    @apply flex flex-col gap-2;
  }

  .project h1 {
    @apply mt-6 font-medium;
  }

  .project strong {
    @apply font-medium text-theme-orange;
  }

  .project a {
    @apply underline hover:no-underline;
  }

  .project img.inline {
    @apply my-3;
  }

  .project blockquote {
    @apply my-3 border-l-8 border-theme-orange bg-neutral-200 px-4 py-3;
  }
</style>
