---
const { methods = [], date, role = [] } = Astro.props;
---

<div class="mb-2">
  <h2 class="text-xs font-semibold text-neutral-900">
    Role
  </h2>
  <div class="text-xs text-neutral-500">
    {role.join(" · ")}
  </div>
</div>

<div class="mb-2">
  <h2 class="text-xs font-semibold text-neutral-900">
    Date
  </h2>
  <div class="text-xs text-neutral-500">{date}</div>
</div>

<div class="mb-8">
  <h2 class="text-xs font-semibold text-neutral-900">
    Methods
  </h2>
  <div class="text-xs text-neutral-500">
    {methods.join(" · ")}
  </div>
</div>
