---
import "@styles/globals.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Kristjan Poska is a talented product designer with a passion for creating beautiful and user-friendly digital experiences."
    />
    <meta name="viewport" content="width=device-width" />

    <meta name="theme-color" content="#F2F1EF" />

    <meta
      property="og:title"
      content="Kristjan Poska – Product Designer"
    />

    <meta
      property="og:description"
      content="Kristjan Poska is a talented product designer with a passion for creating beautiful and user-friendly digital experiences."
    />

    <meta
      property="og:image"
      content="/images/og-image.png"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="mx-8">
    <nav
      class="mx-auto my-10 flex max-w-4xl items-center justify-between">
      <a
        class="text-sm font-semibold hover:text-neutral-500"
        href="/">Kristjan Poska</a
      >

      <ul role="list" class="m-0 flex items-center gap-8">
        <li>
          <a
            class="text-sm font-semibold tracking-tighter text-neutral-500 hover:text-inherit"
            href="/about">About</a
          >
        </li>
        <li>
          <a
            class="text-sm font-semibold tracking-tighter text-neutral-500 hover:text-inherit"
            href="mailto:kristjanposka@gmail.com">Contact</a
          >
        </li>
      </ul>
    </nav>

    <div class="relative mx-auto flex max-w-4xl flex-col">
      <slot />
    </div>

    <footer
      class="mb-10 mt-48 text-center text-sm font-semibold text-neutral-500">
      &copy; {new Date().getFullYear()} Kristjan Poska. Made
      with ✧˖° in Estonia.
    </footer>
  </body>
</html>
