---
import "@styles/globals.css";

import { ArrowUpRight } from "lucide-astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Kristjan Poska is a talented product designer with an ability to think of tomorrow's solutions today."
    />
    <meta name="viewport" content="width=device-width" />

    <meta name="theme-color" content="#F27059" />

    <meta
      property="og:title"
      content="Kristjan Poska – Product Designer"
    />

    <meta
      property="og:description"
      content="Kristjan Poska is a talented product designer with an ability to think of tomorrow's solutions today."
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />

    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>

  <body class="m-8">
    <div class="mx-auto max-w-xl">
      <slot />
    </div>
  </body>
</html>
