---
import "@fontsource/inter";
import "@styles/globals.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Kristjan Poska is a talented design engineer and interaction design student with a passion for creating beautiful and user-friendly digital experiences."
    />
    <meta name="viewport" content="width=device-width" />

    <meta name="theme-color" content="#F2F1EF" />

    <meta
      property="og:title"
      content="Kristjan Poska – Design Engineer"
    />

    <meta
      property="og:description"
      content="Kristjan Poska is a talented design engineer and interaction design student with a passion for creating beautiful and user-friendly digital experiences."
    />

    <meta
      property="og:image"
      content="/images/og-image.png"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="flex flex-col bg-[#ffffff] text-[#151515]">
    <div
      class="sticky top-0 z-10 w-full border-b border-b-neutral-300 bg-[#ffffff]">
      <nav
        class="mx-auto flex max-w-6xl items-center justify-between px-8 py-6">
        <a class="text-base hover:text-neutral-600" href="/"
          >Kristjan Poska</a
        >

        <ul role="list" class="m-0 flex items-center gap-4">
          <li>
            <a
              class="text-base hover:text-neutral-600"
              href="/#craft">Craft</a
            >
          </li>
          <li>
            <a
              class="text-base hover:text-neutral-600"
              href="/about">About</a
            >
          </li>
          <li>
            <a
              class="flex w-fit select-none items-center gap-2 rounded-full border border-neutral-500 bg-neutral-50 px-3 py-1 text-sm text-[#151515] transition-colors hover:cursor-pointer hover:bg-[#151515] hover:text-[#ffffff]"
              href="mailto:kristjanposka@gmail.com">
              <svg
                class="h-4 w-4"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 16">
                <path
                  d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                ></path>
                <path
                  d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                ></path>
              </svg>
               Contact
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div
      class="relative mx-auto flex w-full max-w-6xl flex-grow flex-col px-8">
      <slot />
    </div>

    <footer class="mb-6 text-center">
      &copy; Kristjan Poska 2023
    </footer>
  </body>
</html>
