---
import "@styles/globals.css";

import { ArrowUpRight } from "lucide-astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Kristjan Poska is a talented product designer with a passion for creating beautiful and user-friendly digital experiences."
    />
    <meta name="viewport" content="width=device-width" />

    <meta name="theme-color" content="#F2F1EF" />

    <meta
      property="og:title"
      content="Kristjan Poska – Product Designer"
    />

    <meta
      property="og:description"
      content="Kristjan Poska is a talented product designer with a passion for creating beautiful and user-friendly digital experiences."
    />

    <meta
      property="og:image"
      content="/images/og-image.png"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="mx-8">
    <nav
      class="mx-auto mt-10 flex max-w-xl items-center justify-between">
      <a
        class="text-sm font-medium transition-colors hover:text-orange-500"
        href="/">Kristjan Poska</a
      >

      <ul role="list" class="m-0 flex items-center gap-4">
        <li>
          <a
            class="text-sm font-medium tracking-tighter text-neutral-800 transition-colors hover:text-orange-500"
            href="mailto:kristjanposka@gmail.com">Contact</a
          >
        </li>
        <li class="group">
          <a
            class="text-sm font-medium tracking-tighter text-neutral-800 transition-colors group-hover:text-orange-500"
            href="https://read.cv/poska"
            target="_blank"
            >Resume
            <ArrowUpRight
              class="-ml-0.5 inline h-3 w-3 align-text-top text-current text-neutral-800 group-hover:text-inherit"
            />
          </a>
        </li>
      </ul>
    </nav>

    <main class="relative mx-auto flex max-w-xl flex-col">
      <slot />
    </main>
  </body>
</html>
